<div class="absolute z-20 flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50 backdrop-filter backdrop-blur-sm">
  <div class="bg-white p-8 rounded-lg shadow-md">
    <h2 class="text-2xl font-semibold text-center text-gray-800 mb-4">Vous devez vous connecter</h2>
    <!-- Case à cocher pour accepter les conditions d'utilisation -->
    <div class="mb-4">
      <label >En vous connectant, vous acceptez les <a href="URL_VERS_VOS_CGU">Conditions Générales d'Utilisation</a>.</label>
    </div>

    <div id="google-btn"></div>

    <div class="flex justify-center mt-3">
      <a href="" class="text-header mr-3">Mentions légales</a>
      <a href="" class="text-header mr-3">CGU</a>
      <a href="" class="text-header">RGPD</a>
    </div>
  </div>
</div>

