
<app-login *ngIf="showLogin"></app-login>
    <!-- Contenu existant -->
  <div class="flex flex-col lg:flex-row min-h-screen">

    <!-- Header de gauche pour pc -->
    <div class="lg:flex hidden flex-col items-center justify-between w-16 bg-white shadow-lg rounded-xl min-h-screen">
      <div>
        <a #burgerBar href="/" class="flex flex-col items-center justify-center p-4">
          <img src="/assets/img/burger-bar%20(1).png" alt="" class="w-5">
          <span class="text-header mt-1 hidden">Menu</span>
        </a>
        <a (click)="toggleAujourdhuiPanel()" class="flex flex-col items-center justify-center p-4">
          <img src="/assets/img/calendar.png" alt="" class="w-5">
          <span class="text-header-2 mt-1 hidden">Aujourd'hui</span>
        </a>

        <a (click)="toggleHistoryPanel()" class="flex flex-col items-center justify-center p-4">
          <img src="/assets/img/history.png" alt="" class="w-5">
          <span class="text-header-2 mt-1 hidden">Historique</span>
        </a>

        <a (click)="toggleNotificationPanel()" class=" flex flex-col items-center justify-center p-4">
        <img src="/assets/img/notification.png" alt="" class="w-5">
          <span class="text-header-2 mt-1 hidden">Notifications</span>
        </a>
      </div>
      <a (click)="toggleAccountPanel()" class="flex flex-col items-center justify-between p-4">
        <img src="/assets/img/user.png" alt="" class="w-5">
        <span class="text-header mt-1 hidden">Compte</span>
      </a>
    </div>

    <!-- Search bar -->
    <div class="w-[50%] mt-2 absolute top-0 left-1/2 transform  -translate-x-1/2 z-10 bg-white shadow rounded-xl">
      <form class=" mx-auto">
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
          </div>
          <input type="search" id="default-search" class="block w-full p-2 sm:p-4 sm:ps-10 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Entrer une date ou un lieu" required />
        </div>
      </form>
    </div>



    <!-- Div HISTORIQUE -->
    <div id="historyPanel" [class.h-0]="!historyPanelVisible" [class.h-auto]="historyPanelVisible" class="w-[70%] md:w-[50%] mt-20 absolute top-0 left-1/2 transform -translate-x-1/2 z-10 bg-white shadow rounded-xl">
      <!-- Contenu de l'historique -->
      <img [class.hidden]="!historyPanelVisible" (click)="toggleHistoryPanel()" class="absolute top-3 right-7 w-5" src="/assets/img/close.png" alt="">
      <div class="text-xxs p-4 h-[300px] overflow-y-auto" [class.hidden]="!historyPanelVisible">
        <h3 class="text-lg font-semibold mb-2">Historique météorologiques</h3>
        <p class="mb-5">Voici les information météorologique enregistré</p>
        <ul>
          <li class="m-5 sm:flex sm:flex-wrap justify-around" *ngFor="let data of weatherDataUser">
            <div class="flex flex-wrap justify-center items-center text-center w-full md:w-auto mb-4 md:mb-0">
              <img src="https://openweathermap.org/img/w/{{ data.weatherIcon }}.png" class="w-5 sm:w-8 mx-4" alt="icon de météo">
            </div>
            <div class="flex justify-center items-center text-center w-full md:w-auto mb-4 md:mb-0 align-middle">
              <div class="block">
                <strong><p>{{ data.name ? data.name.toUpperCase() : '' }}</p></strong>
                <p>{{ data.date ? data.date.slice(-8) : '' }}</p>
              </div>
            </div>
            <div class="flex flex-wrap justify-center items-center text-center w-full md:w-auto mb-4 md:mb-0">
              <div class="text-2xl mr-5">
                <p>{{ data.temperature ? data.temperature : '' }}°</p>
                <p class="text-xs">Max: {{ data.maxTemperature ? data.maxTemperature : '' }}°</p>
                <p class="text-xs">Min: {{ data.minTemperature ? data.minTemperature : '' }}°</p>
              </div>
            </div>
            <div class="flex flex-wrap justify-center items-center text-center w-full md:w-auto mb-4 md:mb-0">
              <div class="align-super">
                <p class="text-xs"><strong>Vent:</strong> {{ data.vitesseVent ? data.vitesseVent : '' }} m/s</p>
                <p class="text-xs"><strong>Humidité:</strong> {{ data.humidity ? data.humidity : '' }}%</p>
                <p class="text-xs"><strong>Pression:</strong> {{ data.pression ? data.pression : '' }} hPa</p>
              </div>
            </div>
            <div class="flex flex-wrap justify-center items-center text-center w-full md:w-auto mb-4 md:mb-0">
              <div class="text-2xl mr-5">
                <p class="text-xs">Etat du ciel:</p>
                <p>{{ data.weatherDescription ? data.weatherDescription.toUpperCase() : '' }}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Div ACCOUNT -->
    <div id="accountPanel"
         [class]="accountPanelVisible ? 'h-auto' : 'h-0'"
         class="account-panel  w-[50%] mt-20 absolute top-0 left-1/2 transform -translate-x-1/2 z-10 bg-white shadow rounded-xl">

      <div class="account-details text-xxs p-4 h-[300px] overflow-y-auto flex flex-col sm:flex-row" [class.hidden]="!accountPanelVisible">
        <div class="w-full sm:w-1/2">
          <h3 class="account-action-title text-lg font-semibold mb-2">Informations du compte</h3>
          <div class="flex justify-center items-center ">
            <img src="{{ userAccount.picture }}" class="rounded-full mb-5" alt="Image du compte">
          </div>
          <div class="user-info text-center">
            <p class="font-bold">Nom d'utilisateur:</p>
            <p>{{ userAccount.name }}</p>
            <hr/>
            <p class="font-bold mt-5">E-Mail:</p>
            <p>{{ userAccount.email }}</p>
          </div>
        </div>
        <div class="w-full lg:w-1/2">
          <h3 class="account-action-title text-lg font-semibold mb-2 mt-5 sm:mt-0 ">Actions</h3>
          <div class="account-action">
            <a href="#" class="change-password block mt-4 p-2 lg:text-2xl underline">Activer le mode sombre</a>
            <hr/>
            <a href="#" class="view-log block mt-4 p-2 lg:text-2xl underline">Consulter le journal de compte</a>
            <hr/>
            <a (click)="signOut()" class="sign-out block mt-4 p-2 lg:text-2xl underline">Se déconnecter</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Div AUJOURD'HUI -->
    <div id="aujourdhuiPanel" [class.h-0]="!aujourdhuiPanelVisible" [class.h-auto]="aujourdhuiPanelVisible" class="w-[70%] md:w-[50%] mt-20 absolute top-0 left-1/2 transform -translate-x-1/2 z-10 bg-white shadow rounded-xl">
      <!-- Contenu de l'historique -->
      <img [class.hidden]="!aujourdhuiPanelVisible" (click)="toggleAujourdhuiPanel()" class="absolute top-3 right-7 w-5" src="/assets/img/close.png" alt="">
      <div class="text-xxs p-4 h-[300px] overflow-y-auto" [class.hidden]="!aujourdhuiPanelVisible">
        <h3 class="text-lg font-semibold mb-2">Informations météorologiques</h3>
        <p class="mb-5">Aujourd'hui</p>
        <ul>
          <li class="m-5 sm:flex sm:flex-wrap justify-around" *ngIf="weatherData">
            <div class="flex flex-wrap justify-center items-center text-center w-full md:w-auto mb-4 md:mb-0">
              <img [src]="weatherIconUrl" class="w-5 sm:w-8 mx-4" alt="icon de météo">
            </div>
            <div class="flex justify-center items-center text-center w-full md:w-auto mb-4 md:mb-0 align-middle">
              <div class="block">
                <strong><p>{{ weatherData.name.toUpperCase() }}</p></strong>
                <strong><p>{{ (weatherData.dt * 1000) | date:'HH:mm' }}</p></strong>
              </div>
            </div>
            <div class="flex flex-wrap justify-center items-center text-center w-full md:w-auto mb-4 md:mb-0">
              <div class="text-2xl mr-5">
                <p>{{ weatherData.main.temp }}°</p>
                  <p class="text-xs">Max: {{ weatherData.main.temp_max }}°</p>
                  <p class="text-xs">Min: {{ weatherData.main.temp_min }}°</p>
              </div>
            </div>
            <div class="flex flex-wrap justify-center items-center text-center w-full md:w-auto mb-4 md:mb-0">
            <div class="align-super">
                <p class="text-xs"><strong>Vent:</strong> {{ weatherData.wind.speed }} m/s</p>
                <p class="text-xs"><strong>Humidité:</strong> {{ weatherData.main.humidity }}%</p>
                <p class="text-xs"><strong>Pression:</strong> {{ weatherData.main.pressure }} hPa</p>
              </div>
            </div>
            <div class="flex flex-wrap justify-center items-center text-center w-full md:w-auto mb-4 md:mb-0">
              <div class="text-2xl mr-5">
                <p class="text-xs">Etat du ciel:</p>
                <p>{{ weatherData.weather[0].description.toUpperCase() }}</p>
              </div>
            </div>

          </li>
          <!-- Ajoutez d'autres éléments d'historique ici -->
        </ul>
        <p class="mb-5">Prévision de la journée</p>
        <ul>
          <li class="m-5" >
            <div class="inline-block justify-center items-center text-center">
              <strong><p>Cette fonctionnalité n'est pas encore disponible car celle-ci est une option payante de OpenWeatherMap API.</p></strong>
            </div>
          </li>
          <!-- Ajoutez d'autres éléments d'historique ici -->
        </ul>
      </div>
    </div>

    <!-- Div NOTIFICATION -->
    <div id="notificationPanel" [class.h-0]="!notificationPanelVisible" [class.h-auto]="notificationPanelVisible" class="w-[50%] mt-20 absolute top-0 left-1/2 transform -translate-x-1/2 z-10 bg-white shadow rounded-xl">
      <!-- Contenu de l'historique -->
      <img [class.hidden]="!notificationPanelVisible" (click)="toggleNotificationPanel()" class="absolute top-3 right-7 w-5" src="/assets/img/close.png" alt="">
      <div class="text-xxs p-4 h-[300px] overflow-y-auto" [class.hidden]="!notificationPanelVisible">
        <h3 class="text-lg font-semibold mb-2">Notifications</h3>
        <p class="mb-5">Cette fonctionnalité permet de notifier l'utilisateur d'un changement climatique (pluie, averse...)</p>
        <ul>
          <li class="m-5" >
            <div class="inline-block justify-center items-center text-center">
              <strong><p>Cette fonctionnalité n'est pas encore disponible car celle-ci est une option payante de OpenWeatherMap API.</p></strong>
            </div>
          </li>
          <!-- Ajoutez d'autres éléments d'historique ici -->
        </ul>
      </div>
    </div>

    <!-- Map -->
    <div class="flex-grow -z-0" id="map"></div>

    <!-- Div météo DESKTOP -->
    <div (click)="toggleAujourdhuiPanel()" class="hidden display-temperature:block absolute top-0 right-0 z-10 mt-2 mr-2  text-xxs">
      <div class="flex flex-row items-center justify-center p-2 sm:p-4 bg-white shadow-lg rounded-xl">
        <img [src]="weatherIconUrl" alt="" class="w-6">
        <span class=" ml-3">
          <div *ngIf="temperature !== null">
            {{ temperature }}°
          </div>
        </span>
      </div>
    </div>

    <!-- Div météo MOBILE-->
    <div (click)="toggleAujourdhuiPanel()" class=" display-temperature:hidden absolute bottom-20 ml-5 right-0 z-10 mt-2 mr-2  text-xxs">
      <div class="flex flex-row items-center justify-center p-2 sm:p-4 bg-white shadow-lg rounded-xl">
        <img [src]="weatherIconUrl" alt="" class="w-6">
        <span class="ml-3">
      <div *ngIf="temperature !== null">
        {{ temperature }}°
      </div>
    </span>
      </div>
    </div>

    <!-- Div header en bas de l'écran sur téléphone !-->
    <div class="text-xxs h-5/6 z-10 flex justify-center items-center lg:hidden">
      <!-- Conteneur de grille pour les boutons, affichés horizontalement sur les petits écrans -->
      <div class="grid grid-cols-4 gap-3 sm:gap-20 mt-2 mb-1 justify-center ">

        <a (click)="toggleAujourdhuiPanel()"  class="flex flex-col items-center justify-center">
          <img src="/assets/img/calendar.png" alt="" class="w-4 ">
          <span>Aujourd'hui</span>
        </a>

        <a (click)="toggleHistoryPanel()" class="flex flex-col items-center justify-center ">
          <img src="/assets/img/history.png" alt="" class="w-4">
          <span>Historique</span>
        </a>

        <a (click)="toggleNotificationPanel()" class="flex flex-col items-center justify-center ">
          <img src="/assets/img/notification.png" alt="" class="w-4">
          <span >Notifications</span>
        </a>

        <a (click)="toggleAccountPanel()" class="flex flex-col items-center justify-center ">
          <img src="/assets/img/user.png" alt="" class="w-4">
          <span class="" >Compte</span>
        </a>
      </div>
    </div>

  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const historyButton = document.getElementById("historyButton");
      const historyPanel = document.getElementById("historyPanel");

      historyButton.addEventListener("click", function(event) {
        event.preventDefault(); // Empêche le rechargement de la page
        // Basculement du panneau d'historique lors du clic sur le bouton Historique
        historyPanel.classList.toggle("h-0");
        historyPanel.classList.toggle("h-auto");
      });
    });

  </script>
